.main-div{
box-shadow:2px 2px 4px 2px rgba(50, 49, 49, 0.3);
border-radius: 20px 20px 20px 20px;
background-color: white;
}
.pages-heading{
    font-weight: 700;
    font-style: bold;
}
.add-button{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #91DF46;
    background-color: white;
    color: #91DF46 ;
}