.main-div {
    box-shadow: 2px 2px 4px 2px rgba(50, 49, 49, 0.1);
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.pages-heading {
    font-weight: 700;
    font-style: bold;
}

.add-button {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #91DF46;
    background-color: white;
    color: #91DF46;
}

.top-bar {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.06);
    width: auto;
}

.top-bar .d-flex {
  flex-wrap: wrap; 
}

.top-bar .pages-heading-one {
  white-space: nowrap; 
}


.pages-heading-one {
    font-style: bold;
    color: #CECECE;
    cursor: pointer;
}

.pages-heading-one-active {
    font-weight: 700;
    font-style: bold;
    cursor: pointer;
}

.user-card {
    width: 291px;
    height: 147px;
    border-radius: 0 35px 35px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mailbox-user-card {
    width: 280px;
    height: 140px;
    border-radius: 0 35px 35px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden !important;
}

.user-card-title {
    color: #222222;
    font-size: 15px;
}

.user-card-text {
    color: #91DF46;
    font-size: 26px;
    font-weight: 700;

}

.form-top-text {
    font-size: 18px;
    color: #91DF46;
}

.pages-sub-heading {
    font-size: 14px;
    color: #A3B6CC;
    cursor: pointer;
}

.pages-sub-heading-active {
    font-size: 14px;
    cursor: pointer;
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
}


.profile-bar {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    border-radius: 38px 38px 38px 38px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
    border: none;
    /* padding: 0 10px; */
}

.profile-bar-button {
    background-color: white !important;
    box-shadow: none !important;
    border: none;
    text-align: center;
    padding: 6px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 38px;
}

.profile-bar-button.active {
    background-color: #91DF46 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06) !important;
    color: white !important;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 38px;
}

.profile-img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.transaction-bar {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.total-transactions {
    color: #CECECE;
    font-size: 15px;
    font-weight: none;
}

.card-heading {
    font-size: 14px;
    color: #222222;
}

@media (max-width: 791px) and (min-width: 500px) {
    .profile-bar {
        box-shadow: none;
        margin-left: 100px;
    }
}

@media (max-width: 791px) {
    .profile-bar {
        box-shadow: none;
    }
}