.form-label{
    font-size: 15px;
    color: #8EE30A;
}
.form-button{
    padding-left: 15%;
    padding-right: 15%;
}
.form-broadcast-button{
    padding-left: 8%;
    padding-right: 8%;
}
.description-input{
    padding-bottom: 50px!important;
}
.form-input {
    border: 1px solid #aadc64!important;
}
.button-shadow{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.custom-switch-container {
  display: flex;
  align-items: center;
}

.custom-switch-label {
  color: #000000!important;
  font-size: 16px!important;
}



.custom-switch .custom-control-label::after {
  border-radius: 8px; /* Make the circle round before check*/
  background-color: #91DF46!important;
  top: calc(0.115rem + 1px);
  width: calc(1.5rem - 4px);
  height: calc(1.4rem - 4px);
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  border-radius: 8px; /* Make the circle round after check */
  background-color: #91DF46;
  top: calc(0.115rem + 1px);
  left: calc(-3.2rem + 2px);
  width: calc(1.5rem - 4px);
  height: calc(1.4rem - 4px);
}
/* container in which circle */
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: white!important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #91DF46!important;
    width:3rem!important;
    padding:0.25
}

/* container in which circle */
.custom-switch .custom-control-label::before {
  background-color: white!important; 
  border: 1px solid #91DF46!important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width:3rem!important;
  padding:0.25
}

.form-control.login-input.form-input option {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.custom-radio {
  display: none; /* Hide the default radio button */
}

.radio-label {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically center content */
}

.custom-radio + .radio-label:before {
  content: '';
  display: inline-block;
  width: 20px; /* Set the size of the custom radio button */
  height: 20px; /* Set the size of the custom radio button */
  margin-right: 10px; /* Adjust the spacing between the radio button and the label */
  border: 2px solid #ccc; /* Set the border color */
  border-radius: 50%; /* Make it circular */
  box-sizing: border-box; /* Include border in element's total width and height */
}

.custom-radio:checked + .radio-label:before {
  background-color: #78828A; 
  border: #000000;/* Change the background color when checked */
  /* Change the border color when checked */
}

.radio-img{
  width: 116px;
  height: 251px;
}
.radio-div1{
  width: 70px;
  height: 51px;
  border-radius: 3px 3px 3px 3px;
}
.radio-div2{
  width: 70px;
  height: 24px;
  border-radius: 13px 0 13px 0;
}
.radio-div3{
  width: 70px;
  height: 24px;
  border-radius: 12px;
}
.radio-div4{
  width: 70px;
  height: 24px;
  border-radius: 5px;
}

.radio-heading-class{
  color: #000000;
}
.radio-subHeading-class{
  color: #CECECE;
  font-size: 13px;
  margin-left:28px;
  margin-top: 8px;
}
.radio-logo-img1{
width: 70px;
height: 51px;
}
.radio-logo-img2{
width: 73px;
height: 54px;
}
.radio-logo-img3{
width: 70px;
height: 18px;


}
.radio-logo-img-wrapper{
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 8px;
}
.radio-logo-img3-margin{
  margin-top: 3%;
}



















