.debt-cards{
    width: 290px;
    height: 180px;
    /* margin-left: 2px; */
}
.debt-cards-2{
    width: 290px;
    height: 170px;
}
.debt-card-title{
    font-weight: 700;
}
.fin-chart-wrapper{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}