.logo-design-card-one {
    border-radius: 35px 35px 0 0;
    border: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Bottom shadow */
    height: 200px;
}

.logo-design-card-two {
    border-radius: 0 0 35px 35px;
    border: none;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2); /* Top shadow */
    height: 180px;
}

.logo-design-card-img{
    width: 267px;
    height:73px;
}
.logo-design-card-img-jetco{
    width: 216px;
    height:55px;
}
.logo-design-card-heading{
 font-weight: 700;
}
.logo-design-card-text{
 font-size: 12px;
 color: #000000;
 font-weight: 500;
 word-break: break-all
}
.copyright-heading{
    color:#000000;
    font-weight: 500;
}
.logo-text{
    color:#91DF46;
}
.copyright-footer-text{
    color:#707070;
    font-weight: 500;
}
.wealth-mangement-card  {
    border-radius: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* height: 600px!important; */
}
.wealth-portfolio-button{
    background-color: white!important;
    position: absolute;
    border-radius: 22px 0 0 22px;
    color: #000000;
    padding-left: 5%!important;
    padding-right: 5%!important;
    right: -2%;
    top:30%;
}

.wealth-assets-button{
    background-color: white!important;
    position: absolute;
    border-radius: 0 22px 22px 0;
    color: #000000;
    left:1%;
    top:7%;
    /* padding-left: 5%!important; */
    padding-right: 5%!important;
}
.wealth-performance-button{
    background-color: white!important;
    position: absolute;
    border-radius: 0 22px 22px 0;
    color: #000000;
    left:-3%;
    top:-1%;
    padding-left: 5%!important;
    padding-right: 5%!important;
    margin-bottom: 15%!important;
}
