.profile-form-button{
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    border:1px solid #91DF46;
    border-right: white!important;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 600!important;
    box-shadow: none;
    pointer-events: none;
}
.profile-form-button:hover{
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    border:1px solid #91DF46;
    border-right: white!important;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 600!important;
    box-shadow: none;
    pointer-events: none;
}
.profile-form-input{
    border-radius: 0px 20px 20px 0px !important;
    /* box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 13%); */
    height:52px;
    border:1px solid #91DF46;
}
.profile-form-input.form-control{
    border-radius: 0px 20px 20px 0px !important;
    /* box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 13%); */
    height:52px;
    border:1px solid #91DF46;
}
.profile-form-input-group{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 13%);
    border-radius:20px;
    
}
.profile-form-action-button{
font-size:15px;
padding-left: 50px;
padding-right: 50px;
}
.profile-form-input::placeholder {
  color: #B4B5B5; 
  font-size: 15px; 
}