.sidebar-icon-active {
    color: #91DF46;
}

.sidebar-icon {
    color: #A3B6CC;
}

.sidebar-container {
    position: relative;
}

@media (min-width: 791px) {
    .navbar-vertical.navbar-expand-md {
        overflow-x: hidden;
        max-width: 281px !important
    }

    .navbar-vertical.navbar-expand-md.fixed-left+.main-content {
        margin-left: 281px !important;
    }
}

.sidebar-items {
    color: #A3B6CC;
    font-size: 14px;
}

.sidebar-items-active {
    color: #91DF46;
    font-size: 14px;
}

.navbar-vertical .navbar-nav .nav-link.active:before {
    border-left: none !important;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: none !important;
}

.navbar-vertical .navbar-nav .nav-link>i {
    min-width: 0;
}


.navbar-vertical::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 
}

.navbar-vertical::-webkit-scrollbar-track {
  background-color: transparent;
}

.navbar-vertical::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.navbar-vertical::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-vertical:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
