.line-chart-wrapper{
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);

}
.bar-chart-wrapper{
    border-radius: 35px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.dashboard-card {
    width: 240px;
    height: 200px;
    border-radius: 0 35px 35px 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard-card-user {
    width: 330px;
    height: auto;
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
}
.dashboard-card-user-one {
    width: 330px;
    height: auto;
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
}
.dashboard-card-icon-wrapper{
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: #beeb92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -10%;
    bottom: 55%;
}

.dashboard-card-user-one-rating{
    font-size: 25px!important;
}
.dashboard-card-rating-out-off{
font-size: 20px;
font-weight: 500;
}
.total-votes{
    font-weight: 700;
    font-size: 14px;
}
@media (min-width: 1500px) {
    .dashboard-chart-card-wrapper {
        margin-top: -10%!important;
    }
}
.progress-bar{
    background-color: #5AB303;
}
.rating-button{
    border-radius: 25px;
    width: 60%;
    background-color: #FFFFFF;
    color: #CECECE;
    font-size: 13px;
}