
.table-container {
  position: relative;
  overflow: hidden;
}

.table-wrapper {
  overflow-x: auto;
}

.table-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}
.table-headings{
    color: #000000;
    font-size: 12px!important;
    text-transform: none!important;
}
.table-data{
    color: #000000;
    font-size: 12px!important;
    cursor: pointer;
}
.active-color{
    color: #91DF46;
    font-size: 12px!important;
}
.inactive-color{
    color: #DF4655;
    font-size: 12px!important;
}
.action-button{
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
}
.block-button{
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
    background-color:#91DF46;
    color: white;
}
.table-profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.closed-color{
    color: #CECECE;
    font-size: 12px!important;
}
.progress-color{
    color: #6546DF;
    font-size: 12px!important;
}
.medium-color{
    color: #F3A60C;
    font-size: 12px!important;
}

.stripped-table{
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #91DF46!important;
  border-radius: 35px;
  overflow: hidden;
}

.sr-column {
  width: 50px; /* Adjust the width as needed */
}
.balance-heading-col{
  width: 50%!important;
  color:#000000;
}
.balance-item-col{
  width: 50%!important;
  color:#aca5a5;
}
.sheet-table-heading{
  color: #000000;
  font-weight: 700!important;
  font-size: 14px!important;
}
.report-heading-col{
  color:#000000;
  text-transform:none!important;
  font-size:13px!important
}
.report-item-col{
  color:#aca5a5;
  text-transform:none!important;
  font-size:13px
}



